ion-col {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    min-width: 80px;
    margin: 0;
    text-align: center;
  }
  &.not {
    p, mat-icon {
      text-decoration: line-through;
      color: var(--ion-color-medium);
      opacity: 0.3;
    }
  }
}
