<ion-grid>
  <ion-row>
    <ion-col
      pointer
      *ngFor="let project of data"
      (click)="openProject(project)"
    >
      <div center>
        <img
          logo
          src="assets/img/logo/{{ project.logoSource }}"
          alt="{{ project.title }}"
        />
      </div>
      <p custom-center>
        <strong>{{ project.title }}</strong>
      </p>
    </ion-col>
    <ion-col
      pointer
      (click)="
        openURL(
          'https://translate.google.com/translate?sl=pt&u=https://paginas.fe.up.pt/~ei05034/DISS/wiki/doku.php'
        )
      "
    >
      <div custom-center>
        <img logo src="assets/img/logo/mt.png" alt="Master's Thesis" />
      </div>
      <p custom-center><strong>Master's Thesis</strong></p>
    </ion-col>
  </ion-row>
</ion-grid>
