div {
  @media only screen and (max-width: 500px) {
    display: block;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  display: flex;
}

img {
  max-width: 7.5rem;
  max-height: 7.5rem;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  /*filter: contrast(1.5);*/
}

::ng-deep ion-col p {
  margin: 0;
  font-size: 0.93rem;
  color: var(--ion-color-secondary);
}
