ion-header {
  background-color: var(--ion-color-darker);
  ion-toolbar {
    padding: 1rem;
    p {
      margin: 0;
    }
    p:nth-child(1) {
      font-size: 1.3rem;
      font-weight: bold;
      color: var(--ion-color-primary);
    }
    p:nth-child(2) {
      font-size: 0.9rem;
      font-weight: bold;
      color: var(--ion-color-secondary);
    }
    ion-buttons {
      p {
        font-size: 1rem;
      }
    }
  }
}

ion-footer,
ion-segment {
  --background: var(--ion-color-darker);
}

ion-segment-button {
  --color: var(--ion-color-secondary);
  --color-checked: var(--ion-color-secondary);
  font-size: 0.8rem;
  font-weight: bold;
  min-width: 0;
}
