ion-header {
  ion-toolbar {
    padding: 1rem;
    p {
      margin: 0;
    }
    p:nth-child(1) {
      font-size: 1.3rem;
      font-weight: bold;
      color: var(--ion-color-primary);
    }
    p:nth-child(2) {
      font-size: 0.9rem;
      font-weight: bold;
      color: var(--ion-color-secondary);
    }
    ion-buttons {
      p {
        font-size: 1rem;
      }
    }
  }
}

ion-content {
   --padding: 1.25rem;
   --padding-start: var(--padding);
   --padding-end: var(--padding);
   --padding-top: var(--padding);
   --padding-bottom: var(--padding);
}

ion-segment-button {
  --color: var(--ion-color-secondary);
  --color-checked: var(--ion-color-secondary);
  font-size: 0.8rem;
  font-weight: bold;
  min-width: 0;
}
