/*GENERAL*/
h4
{
  margin: 5px;
}

.dropdown_title
{
  font-weight: bold;
  font-size: 120%;
}

.el_header
{
  padding-top: 10px;
  padding-bottom: 10px;
}


/*MONTH*/
#month_table td > .month_day
{
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  position: absolute;
  z-index: 1;
}

#month_table td
{
  padding: 0;
  text-align: center;
  overflow: hidden;
  min-width: 50px;
}

#month_table .event
{
  background-color: white;
  min-height: 3px;
}

#month_table .disabled
{
  background-color: #f2f2f2;
}

/*DAY*/
#day_table th,
#day_table td
{
  padding: 4px;
}

#day_table th.hour,
#day_table td.event
{
  width: 100px !important;
}

#day_table .event_select,
#day_table .name_input
{
  background-color: inherit;
  border: 0 !important;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 20px !important;
}
